$home-top: "58f7b7bd60267";
$full-width: "58fe4ebe69315";
$select-carousel-slider: "58f7b7f268726";
$home-programs-repeater: "58f78e54018de";
$publications-repeater: "5911c0da608c5";

#acf-group_#{$home-top} {

	.acf-fields > .acf-field-#{$full-width},
	.acf-fields > .acf-field-#{$select-carousel-slider} {
		border-top-width: 0;

		> .acf-label,
		> .acf-input {
			padding: 0 12px 15px;
		}

		> .acf-label label:before {
			content: "- ";
		}
	}
}

.acf-field-#{$home-programs-repeater} {

	.acf-fields > .acf-field {
		border-top-width: 0;

		> .acf-label,
		> .acf-input {
			padding: 0 12px 10px;
		}

		&:first-child {
			.acf-label,
			.acf-input {
				padding-top: 10px;
			}
		}
	}
}
